<footer class="footer">
    <div class="container">
        <ul class="footer-list">
            <li class="footer-item">
                <a href="#about-us" class="footer-link about-us-item">About us</a>
            </li>
            <li class="footer-item customer-order-item">
                <a href="#customer-order" class="footer-link">Customer order</a>
            </li>
            <li class="footer-item our-collection-item">
                <a href="#our-collection" class="footer-link">Our collection</a>
            </li>
            <li class="footer-item testimonials-item">
                <a href="#testimonials" class="footer-link">Testimonials</a>
            </li>
        </ul>
        <p class="footer-text">
            A touch of <span class="footer-text-accent">Ukrainian</span> culture in every embroidery
        </p>
    </div>
    <div class="footer-ornament-container">
        <picture>
            <source
                srcset="
                    ./img/footer/ornament-footer-big-desk.png 1x,
                    ./img/footer/ornament-footer-big-desk@2x.png 2x
                "
                media="(min-width:1440px)"
            />
            <source
                srcset="
                    ./img/footer/ornament-footer-desk.png 1x,
                    ./img/footer/ornament-footer-desk@2x.png 2x
                "
                media="(min-width:1280px)"
            />
            <source
                srcset="
                    ./img/footer/ornament-footer-tablet.png 1x,
                    ./img/footer/ornament-footer-tablet@2x.png 2x
                "
                media="(min-width:768px)"
            />
            <source
                srcset="
                    ./img/footer/ornament-footer-mobile.png 1x,
                    ./img/footer/ornament-footer-mobile@2x.png 2x
                "
                media="(max-width:767px)"
            />
            <img
                class="footer-ornament-img"
                srcset="./img/footer/ornament-footer-mobile.png@2x.png"
                src="./img/footer/ornament-footer-mobile.png"
                alt="Footer ornament"
            />
        </picture>
    </div>
</footer>