<header class="header header-fixed">
  <div class="container menu-mobile">
    <nav class="header-nav">
      <a href="./index.html" aria-label="logo" class="header-logo">
        <img
          src="./img/logo.svg"
          alt="logo"
          width="44"
          height="39"
          class="header-img"
        />
      </a>
      <ul class="header-menu">
        <li class="header-menu-li animated1 fadeInLeft">
          <a href="#about-us" class="header-menu-link">About us</a>
        </li>
        <li class="header-menu-li animated2 fadeInLeft">
          <a href="#collection" class="header-menu-link">Our collection </a>
        </li>
        <li class="header-menu-li animated3 fadeInLeft">
          <a href="#order" class="header-menu-link">Customer order</a>
        </li>
        <li class="header-menu-li animated4 fadeInLeft">
          <a href="#testimonials" class="header-menu-link">Testimonials</a>
        </li>
      </ul>
    </nav>
    <div class="contacts">
      <a href="tel:+380684439426" class="contacts-number"
        >+380 (68) 443-94-26
      </a>
      <ul class="contacts-list">
        <li class="contacts-li">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            aria-label="facebook link"
            rel="noopener noreferrer"
            class="contacts-networks"
          >
            <svg class="contacts-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="contacts-li">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            aria-label="instagram link"
            rel="noopener noreferrer"
            class="contacts-networks"
          >
            <svg class="contacts-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="contacts-li">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            aria-label="youtube link"
            rel="noopener noreferrer"
            class="contacts-networks"
          >
            <svg class="contacts-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="menu-btn-mobile">
      <button
        class="menu-btn-mobile-open js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-btn-mobile-icon" width="36" height="24">
          <use href="./img/icons.svg#icon-menu-mobile"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
