<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Reviving the traditional
      <span class="hero-span">Ukrainian</span> artistry in every stitch.
    </h1>
    <div class="hero-descr-container">
      <svg class="hero-icon star-icon" width="52" height="51">
        <use href="./img/icons.svg#icon-emblems"></use>
      </svg>
      <p class="hero-descr">all embroidery is made by hand</p>
    </div>
    <a class="order-link" href="#"
      >ORDER
      <svg class="hero-icon" width="26" height="10">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
    </a>
    <picture>
      <!-- Desktop -->
      <source
        media="(min-width:1280px)"
        srcset="
          ./img/hero/desktop/girl_desk.jpg    1x,
          ./img/hero/desktop/girl_desk@2x.jpg 2x
        "
      />
      <!-- Tablet -->
      <source
        media="(min-width:768px)"
        srcset="
          ./img/hero/tablet/girl_tab.jpg    1x,
          ./img/hero/tablet/girl_tab@2x.jpg 2x
        "
      />
      <!-- Mobile -->
      <source
        media="(max-width:767.98px)"
        srcset="
          ./img/hero/mobile/girl_mob.jpg    1x,
          ./img/hero/mobile/girl_mob@2x.jpg 2x
        "
      />
      <img
        class="hero-img"
        src="./img/hero/desktop/girl_desk.jpg"
        alt="Girl"
        width="335"
        height="545"
        loading="lazy"
      />
    </picture>
    <img
      class="hero-map-img"
      srcset="./img/hero/map-ukr.png 1x, ./img/hero/map-ukr@2x.png 2x"
      src="./img/hero/map-ukr.png"
      alt="Map"
      width="139"
      height="197"
      loading="lazy"
    />
  </div>
</section>
