<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu" type="button">
    <svg class="btn-close-svg" width="8" height="8">
      <use href="./images/icons.svg#icon-close-black"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link mob-active" href="">Studio</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Portfolio</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Contacts</a>
    </li>
  </ul>
</div>
