<div class="backdrop js-menu-container">
  <div class="menu-container" id="mobile-menu">
    <div class="mobile-buttons">
      <button type="button" class="btn-tel">+380 (68) 443-94-26</button>
      <button class="menu-toggle js-close-menu" type="button">
        <svg class="btn-close-svg" width="36" height="36">
          <use href="./img/icons.svg#icon-close-black"></use>
        </svg>
      </button>
    </div>

    <ul class="mobile-menu">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#about-us">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#collection">Our collection</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#order">Customer order</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#testimonials">Testimonials</a>
      </li>
    </ul>

    <img
      src="../img/menu/menu-ornament.svg"
      alt=""
      class="ornament-svg"
      width="340"
    />
  </div>
</div>
