<section class="our-collection">
  <h2 class="our-collection-title">Our collection</h2>
  <ul class="our-collection-list">
    <li class="our-collection-item">
      <img
        srcset="
          ./img/collection/august-collection.jpg    1x,
          ./img/collection/august-collection@2x.jpg 2x
        "
        src="./img/collection/august-collection.jpg"
        alt="august-collection"
        width="347"
      />
      <div class="our-collection-price">
        <h3 class="our-collection-subtitle">
          AUGUST Poltava women's blouseRING
        </h3>
        <p class="our-collection-text">3300 UAH</p>
      </div>
    </li>
    <li class="our-collection-item">
      <img
        srcset="
          ./img/collection/gorgany-collection.jpg    1x,
          ./img/collection/gorgany-collection@2x.jpg 2x
        "
        src="./img/collection/gorgany-collection.jpg"
        alt="august-collection"
        width="347"
      />
      <div class="our-collection-price">
        <h3 class="our-collection-subtitle">Women's blouse Gorgany</h3>
        <p class="our-collection-text">3350 UAH</p>
      </div>
    </li>
    <li class="our-collection-item">
      <img
        srcset="
          ./img/collection/crimea-collection.jpg    1x,
          ./img/collection/crimea-collection@2x.jpg 2x
        "
        src="./img/collection/crimea-collection.jpg"
        alt="august-collection"
        width="347"
      />
      <div class="our-collection-price">
        <h3 class="our-collection-subtitle">Women's blouse Crimea</h3>
        <p class="our-collection-text">4000 UAH</p>
      </div>
    </li>
    <li class="our-collection-item">
      <img
        srcset="
          ./img/collection/verkhovina-collection.jpg    1x,
          ./img/collection/verkhovina-collection@2x.jpg 2x
        "
        src="./img/collection/verkhovina-collection.jpg"
        alt="august-collection"
        width="347"
      />
      <div class="our-collection-price">
        <h3 class="our-collection-subtitle">Men's shirt Verkhovina</h3>
        <p class="our-collection-text">3100 UAH</p>
      </div>
    </li>
    <li class="our-collection-item">
      <img
        srcset="
          ./img/collection/mountain-collection.jpg    1x,
          ./img/collection/mountain-collection@2x.jpg 2x
        "
        src="./img/collection/mountain-collection.jpg"
        alt="august-collection"
        width="347"
      />
      <div class="our-collection-price">
        <h3 class="our-collection-subtitle">Mountain men's shirt</h3>
        <p class="our-collection-text">3300 UAH</p>
      </div>
    </li>
    <li class="our-collection-item">
      <img
        srcset="
          ./img/collection/yasen-collection.jpg    1x,
          ./img/collection/yasen-collection@2x.jpg 2x
        "
        src="./img/collection/yasen-collection.jpg"
        alt="august-collection"
        width="347"
      />
      <div class="our-collection-price">
        <h3 class="our-collection-subtitle">Men's shirt Yasen</h3>
        <p class="our-collection-text">1700 UAH</p>
      </div>
    </li>
  </ul>
</section>
