<section class="our-collection">
  <div class="container">
    <h2 id="collection" class="our-collection-title">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-item">
        <picture>
          <!-- Desktop 1440px -->
          <!-- .webp -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/august-collection.webp    1x,
              ./img/collection/august-collection@2x.webp 2x
            "
            type="image/webp"
            width="400"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/august-collection.jpg    1x,
              ./img/collection/august-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430"
          />
          <!-- Desktop 1280px -->
          <!-- .webp -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/august-collection.webp    1x,
              ./img/collection/august-collection@2x.webp 2x
            "
            type="image/webp"
            width="347"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/august-collection.jpg    1x,
              ./img/collection/august-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="347"
            height="430"
          />
          <!-- Tablet -->
          <!-- .webp -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/august-collection.webp    1x,
              ./img/collection/august-collection@2x.webp 2x
            "
            type="image/webp"
            width="342"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/august-collection.jpg    1x,
              ./img/collection/august-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430"
          />
          <!-- Mobile -->
          <!-- .webp -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/august-collection.webp    1x,
              ./img/collection/august-collection@2x.webp 2x
            "
            type="image/webp"
            width="335"
            height="400"
          />
          <!-- .jpg -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/august-collection.jpg    1x,
              ./img/collection/august-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="335"
            height="400"
          />
          <img
            class="our-collection-image collection-image"
            src="./img/collection/august-collection.jpg"
            alt="august-collection"
            width="335"
            height="400"
            loading="lazy"
          />
        </picture>
        <div class="our-collection-price">
          <h3 class="our-collection-subtitle">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="our-collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <picture>
          <!-- Desktop 1440px -->
          <!-- .webp -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/gorgany-collection.webp    1x,
              ./img/collection/gorgany-collection@2x.webp 2x
            "
            type="image/webp"
            width="400"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/gorgany-collection.jpg     1x,
              ./img/collection/gorgany-collection.@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430"
          />
          <!-- Desktop 1280px -->
          <!-- .webp -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/gorgany-collection.webp    1x,
              ./img/collection/gorgany-collection@2x.webp 2x
            "
            type="image/webp"
            width="347"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/gorgany-collection.jpg    1x,
              ./img/collection/gorgany-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="347"
            height="430"
          />
          <!-- Tablet -->
          <!-- .webp -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/gorgany-collection.webp    1x,
              ./img/collection/gorgany-collection@2x.webp 2x
            "
            type="image/webp"
            width="342"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/gorgany-collection.jpg    1x,
              ./img/collection/gorgany-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430"
          />
          <!-- Mobile -->
          <!-- .webp -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/gorgany-collection.webp    1x,
              ./img/collection/gorgany-collection@2x.webp 2x
            "
            type="image/webp"
            width="335"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/gorgany-collection.jpg    1x,
              ./img/collection/gorgany-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="335"
            height="430"
          />
          <img
            class="our-collection-image collection-image"
            src="./img/collection/gorgany-collection.jpg"
            alt="august-collection"
            width="335"
            height="430"
            loading="lazy"
          />
        </picture>
        <div class="our-collection-price">
          <h3 class="our-collection-subtitle">Women's blouse Gorgany</h3>
          <p class="our-collection-text">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <picture>
          <!-- Desktop 1440px -->
          <!-- .webp -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/crimea-collection.webp    1x,
              ./img/collection/crimea-collection@2x.webp 2x
            "
            type="image/webp"
            width="400"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/crimea-collection.jpg    1x,
              ./img/collection/crimea-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430"
          />
          <!-- Desktop 1280px -->
          <!-- .webp -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/crimea-collection.webp    1x,
              ./img/collection/crimea-collection@2x.webp 2x
            "
            type="image/webp"
            width="347"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/crimea-collection.jpg    1x,
              ./img/collection/crimea-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="347"
            height="430"
          />
          <!-- Tablet -->
          <!-- .webp -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/crimea-collection.webp    1x,
              ./img/collection/crimea-collection@2x.webp 2x
            "
            type="image/webp"
            width="342"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/crimea-collection.jpg    1x,
              ./img/collection/crimea-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430"
          />
          <!-- Mobile -->
          <!-- .webp -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/crimea-collection.webp    1x,
              ./img/collection/crimea-collection@2x.webp 2x
            "
            type="image/webp"
            width="335"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/crimea-collection.jpg    1x,
              ./img/collection/crimea-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="335"
            height="430"
          />
          <img
            class="our-collection-image"
            src="./img/collection/crimea-collection.jpg"
            alt="august-collection"
            width="335"
            height="430"
            loading="lazy"
          />
        </picture>
        <div class="our-collection-price">
          <h3 class="our-collection-subtitle">Women's blouse Crimea</h3>
          <p class="our-collection-text">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <picture>
          <!-- Desktop 1440px -->
          <!-- .webp -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/verkhovina-collection.webp    1x,
              ./img/collection/verkhovina-collection@2x.webp 2x
            "
            type="image/webp"
            width="400"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/verkhovina-collection.jpg    1x,
              ./img/collection/verkhovina-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430"
          />
          <!-- Desktop 1280px -->
          <!-- .webp -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/verkhovina-collection.webp    1x,
              ./img/collection/verkhovina-collection@2x.webp 2x
            "
            type="image/webp"
            width="347"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/verkhovina-collection.jpg    1x,
              ./img/collection/verkhovina-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="347"
            height="430"
          />
          <!-- Tablet -->
          <!-- .webp -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/verkhovina-collection.webp    1x,
              ./img/collection/verkhovina-collection@2x.webp 2x
            "
            type="image/webp"
            width="342"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/verkhovina-collection.jpg    1x,
              ./img/collection/verkhovina-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430"
          />
          <!-- Mobile -->
          <!-- .webp -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/verkhovina-collection.webp    1x,
              ./img/collection/verkhovina-collection@2x.webp 2x
            "
            type="image/webp"
            width="335"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/verkhovina-collection.jpg    1x,
              ./img/collection/verkhovina-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="335"
            height="430"
          />
          <img
            class="our-collection-image"
            src="./img/collection/verkhovina-collection.jpg"
            alt="august-collection"
            width="335"
            height="430"
            loading="lazy"
          />
        </picture>
        <div class="our-collection-price">
          <h3 class="our-collection-subtitle">Men's shirt Verkhovina</h3>
          <p class="our-collection-text">3100 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <picture>
          <!-- Desktop 1440px -->
          <!-- .webp -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/mountain-collection.webp    1x,
              ./img/collection/mountain-collection@2x.webp 2x
            "
            type="image/webp"
            width="400"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/mountain-collection.jpg    1x,
              ./img/collection/mountain-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430"
          />
          <!-- Desktop 1280px -->
          <!-- .webp -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/mountain-collection.webp    1x,
              ./img/collection/mountain-collection@2x.webp 2x
            "
            type="image/webp"
            width="347"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/mountain-collection.jpg    1x,
              ./img/collection/mountain-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="347"
            height="430"
          />
          <!-- Tablet -->
          <!-- .webp -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/mountain-collection.webp    1x,
              ./img/collection/mountain-collection@2x.webp 2x
            "
            type="image/webp"
            width="342"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/mountain-collection.jpg    1x,
              ./img/collection/mountain-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430"
          />
          <!-- Mobile -->
          <!-- .webp -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/mountain-collection.webp    1x,
              ./img/collection/mountain-collection@2x.webp 2x
            "
            type="image/webp"
            width="335"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/mountain-collection.jpg    1x,
              ./img/collection/mountain-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="335"
            height="430"
          />
          <img
            class="our-collection-image"
            src="./img/collection/mountain-collection.jpg"
            alt="august-collection"
            width="335"
            height="430"
            loading="lazy"
          />
        </picture>
        <div class="our-collection-price">
          <h3 class="our-collection-subtitle">Mountain men's shirt</h3>
          <p class="our-collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <picture>
          <!-- Desktop 1440px -->
          <!-- .webp -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/yasen-collection.webp    1x,
              ./img/collection/yasen-collection@2x.webp 2x
            "
            type="image/webp"
            width="400"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/collection/yasen-collection.jpg    1x,
              ./img/collection/yasen-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430"
          />
          <!-- Desktop 1280px -->
          <!-- .webp -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/yasen-collection.webp    1x,
              ./img/collection/yasen-collection@2x.webp 2x
            "
            type="image/webp"
            width="347"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/yasen-collection.jpg    1x,
              ./img/collection/yasen-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="347"
            height="430"
          />
          <!-- Tablet -->
          <!-- .webp -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/yasen-collection.webp    1x,
              ./img/collection/yasen-collection@2x.webp 2x
            "
            type="image/webp"
            width="342"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/yasen-collection.jpg    1x,
              ./img/collection/yasen-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430"
          />
          <!-- Mobile -->
          <!-- .webp -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/yasen-collection.webp    1x,
              ./img/collection/yasen-collection@2x.webp 2x
            "
            type="image/webp"
            width="335"
            height="430"
          />
          <!-- .jpg -->
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/collection/yasen-collection.jpg    1x,
              ./img/collection/yasen-collection@2x.jpg 2x
            "
            type="image/jpg"
            width="335"
            height="430"
          />
          <img
            class="our-collection-image"
            src="./img/collection/yasen-collection.jpg"
            alt="august-collection"
            width="335"
            height="430"
            loading="lazy"
          />
        </picture>
        <div class="our-collection-price">
          <h3 class="our-collection-subtitle">Men's shirt Yasen</h3>
          <p class="our-collection-text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
