<section class="order">
  <!-- ::before -->
  <div class="container order-container">
    <div class="order-top">
      <h2 class="order-title" id="order">
        <span class="order-span">Your order</span> is our priority: Personalized
        approach and quality of service
      </h2>
      <form class="modal-form" name="reviews-form" autocomplete="off">
        <div class="form-box">
          <label class="form-label" for="user-name"></label>
          <div class="form-field">
            <input
              class="form-input"
              type="text"
              name="user-name"
              id="user-name"
              minlength="2"
              placeholder="Enter your full name"
              title="Example: John Smith"
              pattern="^[a-zA-z]{2,}\s[a-zA-z]{2,}"
              required
            />
          </div>
        </div>
        <div class="form-box">
          <label class="form-label" for="user-Email"></label>
          <div class="form-field">
            <input
              class="form-input"
              type="text"
              name="user-Email"
              id="user-Email"
              minlength="2"
              placeholder="Enter your email"
              title="Example: nojahi6436@newnime.com"
              pattern="[a-zA-Z1-9\-\._]+@[a-z1-9]+(.[a-z1-9]+){1,}"
              required
            />
          </div>
        </div>
        <div class="form-comment-box">
          <label class="form-label" for="user-comment"></label>
          <textarea
            class="form-comment"
            name="user-comment"
            id="user-comment"
            placeholder="Comments"
            required
          ></textarea>
        </div>
        <button class="modal-button-form" type="submit" data-modal-send>
          SEND
          <svg class="form-icon" width="26" height="10">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="order-bottom">
      <picture>
        <!-- Desktop -->
        <!-- .webp -->
        <source
          media="(min-width:1280px)"
          srcset="
            ./img/forms/photo-forms.webp    1x,
            ./img/forms/photo-forms@2x.webp 2x
          "
          type="image/jpg"
          width="524"
          height="521"
        />
        <!-- .jpg -->
        <source
          media="(min-width:1280px)"
          srcset="
            ./img/forms/photo-forms.jpg    1x,
            ./img/forms/photo-forms@2x.jpg 2x
          "
          type="image/jpg"
          width="524"
          height="521"
        />
        <!-- Tablet -->
        <!-- .webp -->
        <source
          media="(min-width:768px)"
          srcset="
            ./img/forms/photo-forms_tablet.webp    1x,
            ./img/forms/photo-forms_tablet@2x.webp 2x
          "
          type="image/jpg"
          width="524"
          height="521"
        />
        <!-- .jpg -->
        <source
          media="(min-width:768px)"
          srcset="
            ./img/forms/photo-forms_tablet.jpg    1x,
            ./img/forms/photo-forms_tablet@2x.jpg 2x
          "
          type="image/jpg"
          width="638"
          height="521"
        />
        <img
          class="order-img"
          src="./img/forms/photo-forms.jpg"
          alt="girl"
          width="524"
          height="521"
          loading="lazy"
        />
      </picture>

      <!-- ::after -->
    </div>
  </div>
</section>
