.header {
  height: 100%;
  padding: 20px 0;
  background-color: var(--black);
}

.header-menu {
  display: none;
}

.contacts-number {
  display: none;
}
.header-nav {
  display: inline-flex;
}

@media only screen and (min-width: 1280px) {
  .header-logo {
    margin-right: 60px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-menu {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}
.header-menu-li {
  overflow: hidden;
}
.header-menu-link {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
  color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--yellow);
  transition: transform 0.7s;
  transform-origin: right;
  transform: scaleX(0);
}
.header-menu-link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--yellow);
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media only screen and (min-width: 1280px) {
  .contacts-number {
    display: flex;
    padding: 14px 28px;
    margin-right: 20px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: var(--white);

    border-radius: 15px;
    border: 1px solid var(--white-header);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-number:hover,
  .contacts-number:focus {
    border-color: var(--yellow);
  }
}
.contacts-list {
  display: flex;
  gap: 12px;
}
.contacts-li {
  width: 44px;
  height: 44px;
}
.contacts-networks {
  width: 100%;
  display: flex;
  padding: 7px;
  align-items: center;
  background-color: var(--white-header);
  color: var(--white);
  opacity: 0.8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 15px;
  border: 1px solid var(--white-header);
}
.contacts-icon {
  fill: currentColor;
}
.contacts-networks:active {
  border-color: var(--yellow);
}
@media only screen and (min-width: 1280px) {
  .contacts-networks {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-networks:hover,
  .contacts-networks:focus {
    border-color: var(--yellow);
  }
}
.menu-mobile {
  display: flex;
  align-items: center;
}
.menu-btn-mobile {
  margin-left: 12px;
}
@media only screen and (min-width: 768px) {
  .menu-btn-mobile {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .menu-btn-mobile {
    display: none;
  }
}
.menu-btn-mobile-open {
  width: 36px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  color: var(--yellow);
}
@media only screen and (min-width: 768px) {
  .menu-btn-mobile-open {
    width: 44px;
    height: 30px;
  }
}
.menu-btn-mobile-icon {
  width: 100%;
  height: 100%;
  stroke: currentColor;
}

/* Animations */

.animated1 {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animated2 {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.5s;
}
.animated3 {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.7s;
}
.animated4 {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.9s;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
