.header {
  height: 100%;
  padding: 20px 0;
  background-color: var(--black);
}

.header-menu {
  display: none;
}

.contacts-number {
  display: none;
}
.header-nav {
  display: inline-flex;
}
.header-logo {
  width: 44px;
  height: 39px;
}

@media only screen and (min-width: 1280px) {
  .header-logo {
    margin-right: 60px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-menu {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}
.header-menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
  color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--yellow);
}


.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media only screen and (min-width: 1280px) {
  .contacts-number {
    display: flex;
    padding: 14px 28px;
    margin-right: 20px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: var(--white);

    border-radius: 15px;
    border: 1px solid var(--white-header);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-number:hover,
  .contacts-number:focus {
    border-color: var(--yellow);
  }
}
.contacts-list {
  display: flex;
  gap: 12px;
}
.contacts-li {
  width: 44px;
  height: 44px;
}
.contacts-networks {
  width: 100%;
  display: flex;
  padding: 7px;
  align-items: center;
  background-color: var(--white-header);
  color: var(--white);
  opacity: 0.8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 15px;
  border: 1px solid var(--white-header);
}
.contacts-icon {
  fill: currentColor;
}
.contacts-networks:active {
  border-color: var(--yellow);
}
@media only screen and (min-width: 1280px) {
  .contacts-networks {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-networks:hover,
  .contacts-networks:focus {
    border-color: var(--yellow);
  }
}
.menu-mobile {
  display: flex;
  align-items: center;
}
.menu-btn-mobile {
  margin-left: 12px;
}
@media only screen and (min-width: 768px) {
  .menu-btn-mobile {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .menu-btn-mobile {
    display: none;
  }
}
.menu-btn-mobile-open {
  width: 36px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  color: var(--yellow);
}
@media only screen and (min-width: 768px) {
  .menu-btn-mobile-open {
    width: 44px;
    height: 30px;
  }
}
.menu-btn-mobile-icon {
  width: 100%;
  height: 100%;
  stroke: currentColor;
}