.hero {
  padding: 60px 0 80px 0;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .hero {
    padding: 106px 0 100px 0;
  }
}
/* Desktop 1280px */
@media only screen and (min-width: 1280px) {
  .hero {
    padding: 100px 0 150px 0;
  }
}
.hero-container {
  position: relative;
  text-align: center;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .hero-container {
    text-align: left;
  }
}
/* Desktop 1280px */
@media only screen and (min-width: 1280px) {
  .hero-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }
}
.hero-title-container {
  margin-bottom: 40px;
}
/* Desktop 1280px*/
@media only screen and (min-width: 1280px) {
  .hero-title-container {
    margin-bottom: 0;
  }
}
.hero-title {
  max-width: 335px;
  text-align: left;
  color: var(--white);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 573px;
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -0.03em;
  }
}
/* Desktop 1280px */
@media only screen and (min-width: 1280px) {
  .hero-title {
    max-width: 518px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-title {
    max-width: 630px;
    font-size: 64px;
    line-height: 1.16;
    letter-spacing: -0.03em;
  }
}
.hero-span {
  color: var(--yellow);
}
.order-link {
  display: inline-block;
  padding: 14px 36px;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-link:active {
  border-color: var(--yellow);
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .order-link {
    font-size: 16px;
    padding-left: 39px;
    padding-right: 39px;
    margin-left: 173px;
  }
}
/* Desktop 1280px*/
@media only screen and (min-width: 1280px) {
  .order-link {
    margin-left: 141px;
  }
  .order-link:hover,
  .order-link:focus {
    border-color: var(--yellow);
  }
}
.hero-span-icon {
  margin-left: 10px;
}
.hero-icon {
  fill: var(--yellow);
}
.hero-span-icon .hero-icon {
  transform: rotate(330deg);
}
.hero-descr-container,
.hero-map-img {
  display: none;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .hero-descr-container {
    display: block;
    text-align: center;
    width: 115px;
    position: absolute;
    top: -24px;
    right: 32px;
  }
}
/* Desktop 1280px */
@media only screen and (min-width: 1280px) {
  .hero-descr-container {
    top: 75px;
  }
}
/* Desktop 1280px */
@media only screen and (min-width: 1280px) {
  .hero-descr-container {
    right: 100px;
  }
}
.hero-descr {
  width: 115px;
  color: rgba(252, 249, 249, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .hero-img {
    width: 413px;
    height: 575px;
  }
  .hero-map-img {
    display: block;
    position: absolute;
    bottom: -98px;
    right: 32px;
  }
}
/* Desktop 1280px */
@media only screen and (min-width: 1280px) {
  .hero-img {
    width: 392px;
    height: 545px;
  }
  .hero-map-img {
    right: 100px;
  }
}
/* Animations */
.focus-in {
  -webkit-animation: focus-in 0.7s linear both;
  animation: focus-in 0.7s linear both;
}
@-webkit-keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.rotate-scale-up {
  -webkit-animation: rotate-scale-up 9s linear infinite both;
  animation: rotate-scale-up 9s linear infinite both;
}
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.35) rotateZ(180deg);
    transform: scale(1.35) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.35) rotateZ(180deg);
    transform: scale(1.35) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.7s linear both;
  animation: flip-in-hor-bottom 0.7s linear both;
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
