.our-collection {
  padding: 0 20px;
  padding-bottom: 80px;

  background-image: url(../img/collection/ornament-collection-mobile.png);
  background-repeat: no-repeat;
  background-size: 72px 177px;
  background-position: top 298px left;
}

@media only screen and (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .our-collection {
    background-image: url(../img/collection/ornament-collection-mobile@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .our-collection {
    padding: 0 32px;
    padding-bottom: 100px;

    background-image: url(../img/collection/ornament-collection-tablet.png);
    background-size: 114px 300px;
    background-position: top 221px left;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .our-collection {
    background-image: url(../img/collection/ornament-collection-tablet@2x.png);
  }
}

@media only screen and (min-width: 1280px) {
  .our-collection {
    padding: 0 98px;
    padding-bottom: 150px;

    background-image: url(../img/collection/ornament-collection-desktop.png);
    background-size: 169px 300px;
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-device-pixel-ratio: 2) {
  .our-collection {
    background-image: url(../img/collection/ornament-collection-desktop@2x.png);
  }
}

@media only screen and (min-width: 1440px) {
  .our-collection {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.our-collection-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .our-collection-title {
    font-size: 44px;
    line-height: 1.45;
  }
}

.our-collection-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media only screen and (min-width: 1280px) {
  .our-collection-list {
    row-gap: 40px;
  }
}

.our-collection-image {
  border-radius: 4px;
  height: 430px;
}

@media only screen and (min-width: 768px) {
  .our-collection-image {
    width: 342px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-collection-image {
    width: 347px;
  }
}

@media only screen and (min-width: 1440px) {
  .our-collection-image {
    width: 400px;
  }
}

.our-collection-item {
}

@media only screen and (min-width: 768px) {
  .our-collection-item {
    width: calc((100% - 20px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .our-collection-item {
    width: calc((100% - 40px) / 3);
  }
}

.our-collection-price {
  padding-top: 18px;
}

.our-collection-subtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .our-collection-subtitle {
    font-size: 18px;
  }
}

.our-collection-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media only screen and (min-width: 768px) {
  .our-collection-text {
    font-size: 18px;
  }
}
