.our-collection {
  padding: 0 20px;
  padding-bottom: 80px;

  background-image: url('../img/collection/ornament-collection.png');
  background-repeat: no-repeat;
  background-size: 199px 177px;
  background-position: top 298px right calc(50% + 215px);
}
/* .webp */
@supports (
  background-image: url('../img/collection/ornament-collection.webp')
) {
  .our-collection {
    background-image: url('../img/collection/ornament-collection.webp');
  }
}
@media only screen and (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .our-collection {
    background-image: url(../img/collection/ornament-collection@2x.png);
  }
  /* .webp */
  @supports (
    background-image: url('../img/collection/ornament-collection@2x.webp')
  ) {
    .our-collection {
      background-image: url('../img/collection/ornament-collection@2x.webp');
    }
  }
}

@media only screen and (min-width: 768px) {
  .our-collection {
    padding: 0 32px;
    padding-bottom: 100px;

    background-size: 338px 300px;
    background-position: top 221px right calc(50% + 439px);
  }
}

@media only screen and (min-width: 1280px) {
  .our-collection {
    padding: 0 98px;
    padding-bottom: 150px;

    background-position: top 221px right calc(50% + 640px);
  }
}

@media only screen and (min-width: 1440px) {
  .our-collection {
    padding-left: 100px;
    padding-right: 100px;

    background-position: top 221px right calc(50% + 720px);
  }
}

.our-collection-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .our-collection-title {
    font-size: 44px;
    line-height: 1.45;
  }
}

.our-collection-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media only screen and (min-width: 1280px) {
  .our-collection-list {
    row-gap: 40px;
  }
}

.collection-image {
  width: 335px;
  height: 400px;
}

.our-collection-image {
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .our-collection-image {
    width: 342px;
    height: 430px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-collection-image {
    width: 347px;
  }
}

@media only screen and (min-width: 1440px) {
  .our-collection-image {
    width: 400px;
  }
}

.our-collection-item {
  width: 335px;
}

@media only screen and (min-width: 768px) {
  .our-collection-item {
    width: 342px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-collection-item {
    width: 347px;
  }
}

@media only screen and (min-width: 1440px) {
  .our-collection-item {
    width: 400px;
  }
}

.our-collection-price {
  padding-top: 18px;
}

.our-collection-subtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .our-collection-subtitle {
    font-size: 18px;
  }
}

.our-collection-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media only screen and (min-width: 768px) {
  .our-collection-text {
    font-size: 18px;
  }
}
