.order {
  background-color: #1c2225;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .order {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .order {
    margin-bottom: 150px;
  }
}

.order::before {
  content: '';
  display: block;
  width: 100%;
  height: 550px;
  margin-bottom: 80px;

  background-color: rgb(230, 236, 234);
  background-image: url('../img/forms/woman-fon-mob.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* .webp */
@supports (background-image: url('../img/forms/woman-fon-mob.webp')) {
  .order::before {
    background-image: url('../img/forms/woman-fon-mob.webp');
  }
}
@media screen and (min-resolution: 192dpi),
  screen and (min-device-pixel-ratio: 2) {
  .order::before {
    background-image: url('../img/forms/woman-fon-mob@2x.jpg');
  }
  /* .webp */
  @supports (background-image: url('../img/forms/woman-fon-mob@2x.webp')) {
    .order::before {
      background-image: url('../img/forms/woman-fon-mob@2x.webp');
    }
  }
}
@media screen and (min-width: 768px) {
  .order::before {
    height: 776px;
    margin-bottom: 100px;
    background-image: url('../img/forms/woman-fon-tab.jpg');
  }
  /* .webp */
  @supports (background-image: url('../img/forms/woman-fon-tab.webp')) {
    .order::before {
      background-image: url('../img/forms/woman-fon-tab.webp');
    }
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2) {
    .order::before {
      background-image: url('../img/forms/woman-fon-tab@2x.jpg');
    }
    /* .webp */
    @supports (background-image: url('../img/forms/woman-fon-tab@2x.webp')) {
      .order::before {
        background-image: url('../img/forms/woman-fon-tab@2x.webp');
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .order::before {
    margin: 0 auto;
    margin-bottom: 150px;
    background-image: url('../img/forms/woman-fon-desk.jpg');
  }
  /* .webp */
  @supports (background-image: url('../img/forms/woman-fon-desk.webp')) {
    .order::before {
      background-image: url('../img/forms/woman-fon-desk.webp');
    }
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2) {
    .order::before {
      background-image: url('../img/forms/woman-fon-desk@2x.jpg');
    }
    /* .webp */
    @supports (background-image: url('../img/forms/woman-fon-desk@2x.webp')) {
      .order::before {
        background-image: url('../img/forms/woman-fon-desk@2x.webp');
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .order::before {
    background-image: url('../img/forms/woman-fon.jpg');
  }
  /* .webp */
  @supports (background-image: url('../img/forms/woman-fon.webp')) {
    .order::before {
      background-image: url('../img/forms/woman-fon.webp');
    }
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2) {
    .order::before {
      background-image: url('../img/forms/woman-fon@2x.jpg');
    }
    /* .webp */
    @supports (background-image: url('../img/forms/woman-fon@2x.webp')) {
      .order::before {
        background-image: url('../img/forms/woman-fon@2x.webp');
      }
    }
  }
}

.order-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
@media screen and (min-width: 1280px) {
  .order-container {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 50px;
    padding: 0 64px;
  }
}

.order-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .order-title {
    font-size: 44px;
    line-height: 1.32;
    width: 542px;
  }
}
@media screen and (min-width: 1440px) {
  .order-title {
    width: 666px;
  }
}

.order-span {
  color: #ecd979;
}

.form-input {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(252, 249, 249, 0.5);

  width: 335px;
  padding: 14px 16px;
  margin-bottom: 20px;

  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);

  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .form-input {
    font-size: 16px;
    width: 508px;
    padding: 15px 16px;
  }
}

.form-input:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}

.form-comment {
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;

  width: 335px;
  min-height: 196px;
  padding: 14px 16px;
  margin-bottom: 40px;

  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);

  background-color: transparent;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .form-comment {
    font-size: 16px;
    width: 508px;
    margin-bottom: 36px;
  }
}

.form-comment:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}

.modal-button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fcf9f9;
  padding: 14px 36px;

  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.56px;
  text-transform: uppercase;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  margin: auto;
}
@media screen and (min-width: 768px) {
  .modal-button-form {
    margin: 0;
    padding: 14px 39px;
    width: 168px;
    font-size: 16px;
  }
}

.modal-button-form:active {
  border-color: var(--yellow);
}

.form-icon {
  fill: var(--yellow);
  transform: rotate(330deg);
}

.order-bottom {
  display: none;
}
.order-img {
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .order-bottom {
    display: block;
    position: relative;
  }
  .order-img {
    margin-left: auto;
    margin-bottom: 80px;
  }
  .order-bottom::after {
    content: '';
    position: absolute;
    top: 115px;
    left: -254px;
    display: block;
    width: 545px;
    height: 484px;

    background-image: url('../img/forms/ornament-forms.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* .webp */
  @supports (background-image: url('../img/forms/ornament-forms.webp')) {
    .order-bottom::after {
      background-image: url('../img/forms/ornament-forms.webp');
    }
  }
}
@media screen and (min-width: 1280px) {
  .order-bottom::after {
    top: 155px;
    left: -321px;
  }
}
