.order {
<<<<<<< Updated upstream
  padding: 80px 0;
  background-color: #2E2F42;
  overflow: hidden;
  background-color: #1c2225;
=======
  background-color: #1C2225;
  margin-bottom: 80px;
>>>>>>> Stashed changes
}

.order::before {
  content: "";
  display: block;
  width: 100%;
  height: 550px;
  margin-bottom: 50px;

  background-color: #e2e2e2;
  background-image: url("../img/women-fon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.order {
  background-image: url(../img/forms/elements.png);
  background-repeat: no-repeat;
  background-size: 545px 484px;
  background-position: bottom 119px left -270px;
}



@media screen and (min-width: 768px) {
  .order::before {
    background-image: url("../img/woman-fon-tab.jpg");
    margin-bottom: 100px;
    height: 776px;
  }

}

@media screen and (min-width: 1280px) {
  .order::before {
    background-image: url("../img/women-fon.jpg");
    margin-bottom: 150px;
    height: 776px;
  }

}

.order-container {
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .order-container {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1280px) {
  .order-container {
    flex-direction: row;
  }

<<<<<<< Updated upstream
}

=======
>>>>>>> Stashed changes
.order-top {
  padding: 0 20px;
  padding-bottom: 80px;

}

@media screen and (max-width: 428px) {
  .order-top {
    display: none;
  }
}
<<<<<<< Updated upstream

@media screen and (min-width: 768px) and (max-width:1279px) {
  .order-top {
    margin-left: auto;
  }
=======
>>>>>>> Stashed changes

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .order-top {
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .order-top {
    margin-right: 50px;
  }
}

.order-img {
  border-radius: 4px;
}

<<<<<<< Updated upstream
.ornament-img {
  position: absolute;
  left: -25%;
  bottom: -25%;
=======
@media screen and (min-width: 375px) and (max-width: 767px) {
  .order-img {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .order-img {
    width: 524px;
    height: 521px;
  }
}

/*.ornament-img {
  position: absolute;
  left: -50%;
  bottom: 0;
}*/

.ornament-img::after {
  content: "";
  display: block;
  width: 100%;
  height: 483px;
  left: -50%;
  bottom: -50%;
>>>>>>> Stashed changes
}


@media screen and (max-width: 767px) {
  .ornament-img {
    display: none;
  }
}


.order-bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 335px;

}

@media screen and (min-width: 768px) {
  .order-bottom {
    width: 542px;
    margin-bottom: 100px;
  }
}

.order-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.96px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .order-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.32;
    letter-spacing: -1.32px;
  }
}

.order-span {
  color: #ECD979;
}

.modal-form {}

.form-box {
  margin-bottom: 20px;
}

.form-label {}

.form-field {}

.form-input {
  color: rgba(252, 249, 249, 0.50);
  padding: 14px 16px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  width: 335px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white_50);
}

@media screen and (min-width: 320px) {
  .form-input {
    width: 284px;
  }

}

.form-input:focus {
  border: 1px solid rgba(252, 249, 249, 0.60);
}

@media screen and (min-width: 768px) {
  .form-input {
    width: 476px;
  }
}

.form-input:focus {
  border: 1px solid rgba(252, 249, 249, 0.60);
}

.form-comment-box {
  margin-bottom: 40px;
}

.form-comment {
  color: rgba(252, 249, 249, 0.50);
  font-size: 16px;
  letter-spacing: -0.32px;
  width: 335px;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  height: 168px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

<<<<<<< Updated upstream
.form-comment:focus {
  border: 1px solid rgba(252, 249, 249, 0.60);
=======
@media screen and (min-width: 320px) {
  .form-comment {
    width: 284px;
  }
>>>>>>> Stashed changes
}

@media screen and (min-width: 768px) {
  .form-comment {
    width: 476px;
  }
}

.form-comment:focus {
  border: 1px solid rgba(252, 249, 249, 0.60);
}

.modal-button-form {
  display: flex;
  width: 168px;
  color: #FCF9F9;
  padding: 14px 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  margin: auto;
}

.modal-button-form:active {
  border-color: var(--yellow);
}

.form-icon {
  fill: var(--yellow);
<<<<<<< Updated upstream
  transform: rotate(330deg);
=======
  transform: rotate(3 deg);
>>>>>>> Stashed changes
}